<div class="well sidebar-nav">
<ul class="nav nav-list">
    <li><label class="tree-toggle nav-header">ЦО</label>
        <ul class="nav nav-list tree">
            <li><label class="tree-toggle nav-header">Москва</label>
                <ul class="nav nav-list tree">
                    <li><a href="#" class="device" data-toggle="popover" data-placement="right">Cisco</a>
                        <div class="info">
                            <p>info <span class="badge badge-success">2</span></p>
                            <p>data1</p>
                            <p>data1</p>
                            <hr/>
                            <p>data5</p>
                            <p>data6 <span class="badge badge-success">2</span></p>

                        </div>
                    </li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco <span class="badge badge-success">2</span></a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco <span class="badge badge-success">2</span></a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco <span class="badge badge-success">2</span></a></li>
                    <li><a href="#">Cisco</a></li>
                 </ul>
            </li>
            <li><label class="tree-toggle nav-header">Калуга</label>
                <ul class="nav nav-list tree">
                    <li><a href="#">Cisco <span class="badge badge-important">6</span></a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco <span class="badge badge-success">2</span></a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco <span class="badge badge-success">2</span></a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                    <li><a href="#">Cisco</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</div><!--/.well -->