<div class="well unavailable" style="padding-left: 3px; padding-right: 5px;padding-top: 3px">
    <h5>Недоступные устройства</h5>
    <ul>
        <% for(var r in netcool.rowset.rows) { %>
        <li>
            <a href="#" class="unavailable node"><%= netcool.rowset.rows[r].Node %></a>
        </li>
        <% } %>
    </ul>
</div>