<div class="well sidebar-nav netcool">
    <h5>Netcool</h5>
    <ul class="nav nav-list">
        <ul class="nav nav-list">
            <li>Недоступных устройств&nbsp;<span class="badge badge-success"><%= netcool.rowset.rows.length %></span>
            </li>

        </ul>
    </ul>
</div>