<div class="well sla breach" style="padding-left: 3px; padding-right: 5px;padding-top: 3px">
    <h5>Нарушение SLA</h5>
    <ul>
        <% for(var r in wisla.serviceBaseDtos) { %>
        <% if(wisla.serviceBaseDtos[r].currentServiceStatus == "RED") { %>
        <li>
            <a href="#" class="wisla chanel"><%= wisla.serviceBaseDtos[r].name %></a>
        </li>
        <% } %>
        <% } %>
    </ul>
</div>
