<h5>Netcool</h5>
<ul class="nav nav-list">
    <ul class="nav nav-list">

        <li>Недоступных устройств&nbsp;<span class="badge badge-success"><%= countEvents.length %></span></li>

    </ul>
</ul>