<h5></h5>
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Свойство</th>
        <th>Значение</th>
    </tr>
    </thead>
    <% for(var key in chanel) { %>

    <tr>
        <td><%= key %></td>
        <td><%= chanel[key] %></td>
    </tr>

    <% if((chanel[key] instanceof Array) || (chanel[key] instanceof Object)) { %>
    <% for(var p in chanel[key][0]) { %>
    <tr>
        <td><%= p %></td>
        <td><%= chanel[key][0][p] %></td>
    </tr>
    <% } %>
    <% } %>
    <% } %>
</table>