<h5>Netcool</h5>
<ul class="nav nav-list">
    <ul class="nav nav-list">

        <li>Всего событий&nbsp;<span class="badge"><%= countEvents %></span></li>
        <li>Недоступных устройств&nbsp;<span class="badge badge-success"><%= countDownDevices %></span></li>

    </ul>
</ul>