<% layout('/layout/base') %>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">

        </div>
        <div class="span7">

            <p> Настройки системы</p>

            <ul>
                <li>Добавить пользователя</li>
                <li>Период обновления</li>
                <li>Добавить .....</li>
            </ul>


        </div>
        <div class="span2">

        </div>
    </div>
</div>



